@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	background-color: #333;
	font-family: 'Montserrat', sans-serif;
}

.blue-text {
	color: $blue-color;
}

.hero-img {
	position: relative;
	height: 100vh;
	background-image: url('../img/playstation-1920.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	.hero-cover {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		text-align: center;
	}
	.hero-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		h1 {
			text-transform: uppercase;
		}
		color: $white;
	}
}

nav {
	.nav-link {
		text-transform: uppercase;
		color: $white;
	}
	.nav-link:hover {
		color: #039dff;
	}
	.fa-bars {
		padding: 10px;
		color: $white;
	}
	.navbar-brand {
		text-transform: uppercase;
		font-weight: bold;
		color: #fff;
	}
	.active {
		color: $blue-color;
	}
}

@media (max-width: 1200px) {
	.hero {
		background-image: url('../img/playstation-640.jpg');
	}
	.hero-text {
		padding: 10px;
	}
}
